
  :root {
    --eduzz-ui-layout-background-color-1: 191 191 191;
    --eduzz-ui-layout-background-color-2: 240 240 240;
    --eduzz-ui-layout-background-color-3: 252 252 252;
    --eduzz-ui-layout-background-color-4: 255 255 255;

    --eduzz-ui-layout-outline-color-1: 228 228 231;
    --eduzz-ui-layout-outline-color-2: 217 217 217;
    --eduzz-ui-layout-outline-color-3: 5 5 5;

    --eduzz-ui-layout-content-color-1: 161 161 170;
    --eduzz-ui-layout-content-color-2: 113 113 122;
    --eduzz-ui-layout-content-color-3: 107 114 128;
    --eduzz-ui-layout-content-color-4: 63 63 70;
    --eduzz-ui-layout-content-color-5: 31 31 31;
    --eduzz-ui-layout-content-color-6: 0 0 0;
  }

  body[data-eduzz-theme="dark"] {
    --eduzz-ui-layout-background-color-1: 161 161 170;
    --eduzz-ui-layout-background-color-2: 113 113 122;
    --eduzz-ui-layout-background-color-3: 4 4 4;
    --eduzz-ui-layout-background-color-4: 0 0 0;

    --eduzz-ui-layout-outline-color-1: 113 113 122;
    --eduzz-ui-layout-outline-color-2: 107 114 128;
    --eduzz-ui-layout-outline-color-3: 253 253 253;

    --eduzz-ui-layout-content-color-1: 161 161 170;
    --eduzz-ui-layout-content-color-2: 217 217 217;
    --eduzz-ui-layout-content-color-3: 191 191 191;
    --eduzz-ui-layout-content-color-4: 240 240 240;
    --eduzz-ui-layout-content-color-5: 252 252 252;
    --eduzz-ui-layout-content-color-6: 255 255 255;
  }